body {
    background-color: rgb(224, 221, 221);
}
.mainContainerCarousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-bottom: -20px;
}

.mainContainer-CarouselCat {
    width: 100%;
    display: flex;
    justify-content: center;
}