body {
    background-color: rgb(224, 221, 221);
}

header {
    display: flex;
    background-color: #ffe600;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.imgHeader {
    margin-bottom: 5px;
    height: 95px;
}

.searcher {
    height: 40px;
    margin: 0;
    display: flex;
}

.searchInput {
    width: 450px;
    height: 35px;
    border: 1px solid rgb(211, 209, 209);
    font-size: 20px;
}

.searchButton {
    width: 39px;
    height: 39px;
    border: 1px solid rgb(211, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.imgSearch {
    height: 30px;
    margin: auto;
}

.pagoContainer {
    display: flex;
}

.imgPago {
    height: 20px;
    margin-right: 5px;
}

.mainContainerCarousel {
    width: 1600px;
    overflow: hidden;
}