.carouselContainer {
    display: flex;
    width: 1200px;
    height: 400px;
    margin: auto;
}

.carouselMainContainer {
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 190px;
}
